
<div class="aaa">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>



<div class="jumbotron"
     style="color:#020202; text-shadow: 2px 2px 4px #666; 
            height:300px; background:url(https://dl.dropboxusercontent.com/s/sepl7lftw4fob1r/kutsu_180427eigadorobo01.jpg); background-size:cover;">
  <span class="h2">映画口コミサイト</span>
  <p style="font-size:16px">興行収入ランキング</p>
</div>

<h3>最新情報</h3>
<div class="well" style="font-size: 15px;">
   <%@newss.each do |n|%>
  <p><%=n.news%></p>
  <% end %>
  <div>
 </div>
</div>


<div class="row">
<% @movies.each do |movie| %>

  <div class="col-xs-12 col-md-4 text-center">
    <div class="thumbnail">
      <h2>第<%= movie.id %>位</h2>
      <p>評価</p>
      <%# movie.review.hyouka %>
      <h3 style="
      font-size: 25px;
  "><%= movie.movie_name %></h3>
      <img src=<%= movie.image %>>
      <div class="caption" style="font-size: 17px; height:200px;">
        <p><%= movie.synopsis %></p>
      </div>
         <%= link_to("レビューを書く", "/movies/#{movie.id}") %>
   </div>
  </div>
<% end %>
<%= paginate @movies %>
</div>
  
</div>        <!-- 全体を囲むコンテナ -->




