<div class="aaa">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>



<div class="jumbotron"
     style="color:#020202; text-shadow: 2px 2px 4px #666; 
            height:300px; background:url(https://dl.dropboxusercontent.com/s/sepl7lftw4fob1r/kutsu_180427eigadorobo01.jpg); background-size:cover;">
  <span class="h2">映画ランキングサイト</span>
  <p style="font-size:16px">興行収入ランキング</p>
</div>

<h3>最新情報</h3>
<div class="well" style="font-size: 15px;">
  <p><%=@news.news%></p>
  <!--<p>TOHOシネマズ新宿にてトークショー付き上映の開催が決定いたしました。</p>-->
  <!--<p>当日は映画評論家の町山智浩さん（予定）をお迎えしてトークショーを実施いたします。</p>-->
</div>


<%# (1..1).each do |m| %>
<% @movies.each do |movie| %>

<div class="row">
  <div class="col-xs-12 col-md-4 text-center">
    <div class="thumbnail">

      <h2>第<%= [] %>位</h2>
      <p>評価</p>
      <%# if m == m %>
      
      <h3 style="
      font-size: 25px;
  "><%= movie.movie_name %></h3>
      <img src=<%= movie.image %>>
      <div class="caption" style="font-size: 17px; height:200px;">
        <p><%= movie.synopsis %></p>
      </div>
       
      <%= link_to("レビューを書く", "/movies/#{movie.id}") %>
 
      <!--method:postの記述はルーティングpostを探しにいく-->
    </div>
  </div>

  <% end %>
<%# end %>
</div>
  <%= paginate @movies %>
</div>        <!-- 全体を囲むコンテナ -->

<div class="center-block" style="text-align:center;padding-bottom: 10px;">
  <button type="button" class="btn btn-warning btn-lg">1～10位</button>
  <button type="button" class="btn btn-warning btn-lg"><a href="index2.html">11～20位</a></button>
  <button type="button" class="btn btn-warning btn-lg">21～30位</button>
  <button type="button" class="btn btn-warning btn-lg">31～40位</button>
  <button type="button" class="btn btn-warning btn-lg">41～50位</button>
</div>


