<div class="col-xs-12 text-center">
  <div class="thumbnail">
    <h2><%= @movie.movie_name%></h2>
    <!--movies.nameを実装-->
    <img src="/<%= @movie.image %>">
    <!--画像のカラムの呼び出し-->
    <div class="caption" style="font-size: 17px;">
      <p><%= @movie.synopsis%></p>
      <!--紹介文のカラムの呼び出し-->
    </div>
  </div>
</div>
<h3 class="page-header">評価</h3>
<div class="form-horizontal">
 <%= form_tag("/reviews") do %>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <!--<div type="get" action="#">-->
      <div class="evaluation">
        <input id="star1" type="radio" name="hyouka" value="5" />
        <label for="star1"><span class="text">最高</span>★</label>
        <input id="star2" type="radio" name="hyouka" value="4" />
        <label for="star2"><span class="text">良い</span>★</label>
        <input id="star3" type="radio" name="hyouka" value="3" />
        <label for="star3"><span class="text">普通</span>★</label>
        <input id="star4" type="radio" name="hyouka" value="2" />
        <label for="star4"><span class="text">悪い</span>★</label>
        <input id="star5" type="radio" name="hyouka" value="1" />
        <label for="star5"><span class="text">最悪</span>★</label>
      </div><!-- evaluation -->
    </div>
      <% @review.errors.full_messages.each do |message| %>
        <div class="col-sm-6"> <%= message %></div><!--<div class="form-error">-->
      <% end %>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ask1">レビュー</label>
    <div class="col-sm-9">
      <textarea rows="6" placeholder="レビューを入力してください。" name="content" class="form-control" id="ask1"><%= @review.content %></textarea>
      <!--レビュー(content)を送る-->
    </div>
  </div>
  <%= hidden_field_tag 'movie_id', @movie.id %>
  <!--映画のIDを入れる-->
  <!--<input id="movie" name="movie_id" type="hidden" value="@movie.id" />-->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right" style="margin-top: 30px;">
      <button class="btn btn-default">クリア</button>
      <input class="btn btn-primary" type="submit" value="書き込む">
    </div>
  </div>
  <% end %>
  <!--foamタグ終了-->
</div>
<h3 class="page-header">レビュー欄</h3>
  <% @reviews.each do |r|%>
  <div class="well center-block" style="width:60%;">
    <h4>ユーザー名：<%= r.user.name %></h4>
    <%# binding.pry %>
    <div class="star-rating-icon">
      <% if r.hyouka == 5 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:100%;"></div>
        </div>
      <% elsif r.hyouka >= 4.5 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:90%;"></div>
        </div>
      <% elsif r.hyouka >= 4 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:80%;"></div>
        </div>
      <% elsif r.hyouka >= 3.5 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:69%;"></div>
        </div>
      <% elsif r.hyouka >= 3 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:59%;"></div>
        </div>
      <% elsif r.hyouka >= 2.5 %>
         <div class="star-rating">
          <div class="star-rating-item" style="width:50%;"></div>
        </div>
      <% elsif r.hyouka >= 2 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:40%;"></div>
        </div>
      <% elsif r.hyouka >= 1.5 %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:29%;"></div>
        </div>
      <% else %>
        <div class="star-rating">
          <div class="star-rating-item" style="width:19%;"></div>
        </div>
      <% end %>
    </div><!--star-rating-icon-->
    <p><%= r.content %></p>
  </div>
  <!--この映画のそのユーザーのレビュー-->
  <%end%>