<div class="col-xs-12 text-center">
  <div class="thumbnail">
    <h2><%= @movie.movie_name%></h2>
    <!--movies.nameを実装-->
   
    <img src="<%= @movie.image %>">
    <!--画像のカラムの呼び出し-->
    <div class="caption" style="font-size: 17px;">
      <p><%= @movie.synopsis%></p>
      <!--紹介文のカラムの呼び出し-->
    </div>
  </div>
</div>
<h3 class="page-header">評価</h3>


<div class="form-horizontal">
 <%= form_tag("/reviews/create") do %>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <!--<div type="get" action="#">-->
      <div class="evaluation">
        <input id="star1" type="radio" name="hyouka" value="5" />
        <label for="star1"><span class="text">最高</span>★</label>
        <input id="star2" type="radio" name="hyouka" value="4" />
        <label for="star2"><span class="text">良い</span>★</label>
        <input id="star3" type="radio" name="hyouka" value="3" />
        <label for="star3"><span class="text">普通</span>★</label>
        <input id="star4" type="radio" name="hyouka" value="2" />
        <label for="star4"><span class="text">悪い</span>★</label>
        <input id="star5" type="radio" name="hyouka" value="1" />
        <label for="star5"><span class="text">最悪</span>★</label>
      </div><!-- evaluation -->
      <!--</div>-->
    </div>
      <% @review.errors.full_messages.each do |message| %>
         <div class="col-sm-6"> <%= message %></div><!--<div class="form-error">-->
      <% end %>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ask1">レビュー</label>
    <div class="col-sm-9">
      <textarea name="content" class="form-control" id="ask1"><%= @review.content %></textarea>
    </div>
  </div>
  <%= hidden_field_tag 'movie_id', @movie.id %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right" style="margin-top: 30px;">
      <button class="btn btn-default">クリア</button>
      <input class="btn btn-primary" type="submit" value="書き込む">
    </div>
  </div>
  <% end %>

</div>

<h3 class="page-header">レビュー欄</h3>
  <% @reviews.each do |r|%>
  <div class="well center-block" style="width:60%;">
    <h4><%= r.user.name %></h4>
      <div>
        <% if r.hyouka == 5 %>
        	<span>★★★★★</span>
          <% elsif r.hyouka == 4 %>
            <span>★★★★☆</span>
        <% elsif r.hyouka == 3 %>
           <span>★★★☆☆</span>
         <% elsif r.hyouka == 2 %>
           <span>★★☆☆☆</span>
         <% else %>
         <span>★☆☆☆☆</span>
      <% end %>
    </div>
   <p><%= r.content %></p>
  </div>
  <!--この映画のそのユーザーのレビュー-->
  <%end%>

  

<!-- 全体を囲むコンテナ -->



<!--星の表示はif分でも可能-->
<!--eachで4回だすでも可能-->
<!--簡単な検索ならRansack-->