<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <!--publicに保存されてる画像を取得する-->
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @user.reviews.each do |review| %>
      <div class="reviews-index-item">
        <div class="review-left">
          <img src="<%= "/user_images/#{review.user.image_name}" %>">
        </div>
        <div class="review-right">
          <div class="review-user-name">
            <%= link_to(review.user.name, "/users/#{review.user.id}") %>
          </div>
          <div>
          <% @movie.each do |r|%>
          <%if r.id == review.movie_id %>
          映画名：<%=r.movie_name %>
            <%end%>
          <%end%>
          <!--includesが上手くいかないためeach文に変更-->
          </div>
          
          <div class="star-rating-icon">
            <% if review.hyouka == 5 %>
        	    <span class="rate rate5"></span>
            <% elsif review.hyouka == 4 %>
              <span class="rate rate4"></span>
            <% elsif review.hyouka == 3 %>
              <span class="rate rate3"></span>
            <% elsif review.hyouka == 2 %>
               <span class="rate rate2"></span>
            <% else %>
            <span class="rate rate1"></span>
            <% end %>
          </div><!--star-rating-icon-->
          <div class="review-content"><%= link_to(review.content, "/reviews/#{review.id}") %></div>
        </div>
      </div>
      
    <% end %>
  </div>
</div>

