<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @user.reviews.each do |review| %>
      <div class="reviews-index-item">
        <div class="review-left">
          <img src="<%= "/user_images/#{review.user.image_name}" %>">
        </div>
        <div class="review-right">
          <div class="review-user-name">
            <%= link_to(review.user.name, "/users/#{review.user.id}") %>
          </div>
          <%= link_to(review.content, "/reviews/#{review.id}") %>
          <!--左辺：ユーザーが描いたレビュー右辺：そのユーザーがした投稿に飛ぶページ.本来は映画のshowに飛ぶ必要性あり-->
        </div>
      </div>
    <% end %>
  </div>
</div>