<div class="col-xs-12 text-center">
  <div class="thumbnail">
    <h2>ボヘミアンラプソディー</h2>
    <!--movies.nameを実装-->
   
    <img src="<%= s.image %>">
    <!--画像のカラムの呼び出し-->
    <div class="caption" style="font-size: 17px;">
      <p>t</p>
      <p></p>
      <!--紹介文のカラムの呼び出し-->
    </div>
  </div>
</div>
<h3 class="page-header">評価</h3>


<div class="form-horizontal">
 <%= form_tag("/reviews/create") do %>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div type="get" action="#">
      <div class="evaluation">
        <input id="star1" type="radio" name="hyouka" value="5" />
        <label for="star1"><span class="text">最高</span>★</label>
        <input id="star2" type="radio" name="hyouka" value="4" />
        <label for="star2"><span class="text">良い</span>★</label>
        <input id="star3" type="radio" name="hyouka" value="3" />
        <label for="star3"><span class="text">普通</span>★</label>
        <input id="star4" type="radio" name="hyouka" value="2" />
        <label for="star4"><span class="text">悪い</span>★</label>
        <input id="star5" type="radio" name="hyouka" value="1" />
        <label for="star5"><span class="text">最悪</span>★</label>
      </div><!-- evaluation -->
      </div>
    </div>
      <% @review.errors.full_messages.each do |message| %>
         <div class="col-sm-6"> <%= message %></div><!--<div class="form-error">-->
      <% end %>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ask1">レビュー</label>
    <div class="col-sm-9">
  
      <textarea name="content" class="form-control" id="ask1"><%= @review.content %></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right" style="margin-top: 30px;">
      <button class="btn btn-default">クリア</button>
      <input class="btn btn-primary" type="submit" value="書き込む">
    </div>
    </div>
  <% end %>

</div>
<!--そもそもどこのユーザーを-->
<h3 class="page-header">レビュー欄</h3>
  <div class="well center-block" style="width:60%;">
    <h4><%= @cinema.user_name %></h4>
      <!--コントローラで制御：user_id:1この映画に投稿してるユーザー-->
      <div class="evaluation">
      <% @reviews.hyouka.each do |review|%>
        <!--この映画名と一致してるユーザーの[hyouka]と一致する場合のフォア文-->
        <% if @reviews.hyouka == 5 %>
        <!--<input id="star1" type="radio" name="hyouka" value="5" />-->
        <label for="star1">★</label>
        <% elsif @reviews.hyouka == 4 %>
        <!--<input id="star2" type="radio" name="hyouka" value="4" />-->
        <label for="star2">★</label>
        <% elsif @reviews.hyouka == 3 %>
        <!--<input id="star3" type="radio" name="hyouka" value="3" />-->
        <label for="star3">★</label>
         <% elsif @reviews.hyouka == 2 %>
        <!--<input id="star4" type="radio" name="hyouka" value="2" />-->
        <label for="star4">★</label>
         <% elsif @reviews.hyouka == 1 %>
        <!--<input id="star5" type="radio" name="hyouka" value="1" />-->
        <label for="star5"><span class="text">最悪</span>★</label>
      <% end %>
    </div><!-- evaluation -->
  </div>
  <p><%= @reviews.content %></p>
  <!--この映画のそのユーザーのレビュー-->

<div class="well center-block" style="width:60%;">
  <h4>MJ</h4>
  
  <div>星横</div>
  <p>先週末にボヘミアン・ラプソディー見てから、四六時中、頭の中でレディオ・ガ・ガがヘビロテ中！ #ボヘミアンラプソディ #ボヘミアン胸アツ</p>
</div>

<!-- 全体を囲むコンテナ -->



<!--星の表示はif分でも可能-->
<!--eachで4回だすでも可能-->
<!--簡単な検索ならRansack-->