<div class="main reviews-show">
  <div class="container">
    <div class="reviews-show-item">
      <div class="review-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>映画名：<%=@review.movie.movie_name%></p>
      <p>
        <%= @review.content %>
      </p>
      <div class="review-time">
        <%= @review.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, review_id: @review.id) %>
      <!--ユーザーとレビューを一致させ、いいね！済みならそれを消すことができる-->
        <%= link_to("/likes/#{@review.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
      <!--もしいいねしてなかったら-->
        <%= link_to("/likes/#{@review.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <!--whereで該当reviewsのidと紐付けcountメソッドで数いいねの回数表示-->
      
      <% if @review.user_id == @current_user.id %>
      <!--ログインユーザーと投稿ユーザーが一致しているならば編集と削除を表示-->
        <div class="review-menus">
          <%= link_to("編集", "/reviews/#{@review.id}/edit") %>
          <%= link_to("削除", "/reviews/#{@review.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>