<div class="main reveiws-show">
  <div class="container">
    <div class="reveiws-show-item">
      <div class="reveiw-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @reveiw.content %>
      </p>
      <div class="reveiw-time">
        <%= @reveiw.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, reveiw_id: @reveiw.id) %>
        <%= link_to("/likes/#{@reveiw.id}/destroy", {method: "reveiw"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@reveiw.id}/create", {method: "reveiw"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <% if @reveiw.user_id == @current_user.id %>
        <div class="reveiw-menus">
          <%= link_to("編集", "/reveiws/#{@reveiw.id}/edit") %>
          <%= link_to("削除", "/reveiws/#{@reveiw.id}/destroy", {method: "reveiw"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>